[2016-11-06 00:08] phumberdroz opened #2 "Notification even when window is active"
Hey,

somehow there is a notification coming even tho the terminal is my active window but I had multiple terminals open. (the open with task was the active one)

Best 💪

[2016-11-06 21:18] aristidesfl commented on #2
Will have a look and improve the logic. thanks for reporting

[2016-11-07 00:43] aristidesfl commented on #2
Currently those mechanics only work with iTerm.app. This will be supported soon.

[2016-11-07 00:43] #2 closed

[2016-11-07 00:44] aristidesfl opened #3 "Add support for Terminal.app"
Related to #2

[2016-11-07 00:44] aristidesfl opened #4 "Add support for Linux"

[2016-11-07 00:44] franciscolourenco opened #5 "Add support for windows"

[2016-11-07 13:42] slapresta opened #6 "Make the list of excluded commands configurable"
It would be nice if I could exclude certain commands from the list; particularly those who are interactive, such as `vim`, `git commit` or `git add -i`. Since I'm interacting with those commands myself, I get no value from being notified about those commands finishing; and since the whole command is driven by human actions, they often take more than ten seconds.

I see in the source code that ther

[2016-11-08 20:44] aristidesfl commented on #6
@slapresta thanks for the suggestion. Interactive commands are only supposed to terminate when you are interacting with them and thus the notification should not be shown, except at the moment only iTerm is supported. What terminal emulator are you using?

[2016-11-27 22:47] milkypostman opened #10 "'tell' is no longer a valid check for OS X platform"
`command -s tell` returns nothing now. `tell` is no longer a program.

not sure what would be a better test.

[2016-11-28 00:00] #10 closed

[2016-11-28 00:54] milkypostman commented on #10
Thanks!

On Sun, Nov 27, 2016 at 16:00 Francisco Lourenço <notifications@github.com>
wrote:

[2017-02-02 09:18] aristidesfl commented on #6
@slapresta are you using linux?

[2017-02-02 09:22] aristidesfl commented on #3
Fixed in v0.4.0 with https://github.com/fisherman/done/commit/dead2eb24d2335e69ea2bb5aa498675bf6658ec7

[2017-02-02 09:22] #3 closed

[2017-02-02 09:49] slapresta commented on #6
Sorry, I forgot to reply; I'm using Terminal.app on OSX. I notice now that only iTerm is supported :) Thanks!

[2017-02-02 10:02] aristidesfl commented on #6
All terminals are supported in v0.4.0 on macOS, so I don't even see a need to have a list of excluded apps on macOS. Please update with `fisher update`, and report if not working correctly. Closing for now.

[2017-02-02 10:02] #6 closed

[2017-02-02 15:04] aristidesfl commented on #5
@jbucaran any idea what people on windows are using to display notifications?

[2017-02-02 15:19] jbucaran commented on #5
@aristidesfl Not sure, but these couple of hits seemed promising.

* http://stackoverflow.com/questions/12514475/how-can-you-create-pop-up-messages-in-a-batch-script
* http://stackoverflow.com/questions/774175/show-a-popup-message-box-from-a-windows-batch-file

[2017-02-03 18:49] aristidesfl commented on #5
@jbucaran do you have any stats on the percentage of users on Windows?
Trying to evaluate if it would be worthwhile to work on this since I never use windows.

[2017-02-03 22:05] AaronLasseigne opened #11 "allow a customized list of commands to skip"
I see that it has an internal list of commands to skip but it would be great if we could add to the list.

[2017-02-03 23:28] jbucaran commented on #5
Definitely low. I think you can keep the issue open, but not make it a priority?

[2017-02-06 11:06] aristidesfl commented on #11
@AaronLasseigne which operative system are you using?

[2017-02-06 11:09] #4 closed

[2017-02-06 12:24] aristidesfl opened #12 "Executing function on start"
Current version defines multiple functions which need to be loaded in order for the plugin to work. Fish however, only loads automatically the function which name matches the file's name (`_done` in this case).

One option would be to define all the functions inside a main function, but then, the main function needs to also be executed when the shell is started, not only loaded.

@jbucaran Any ide

[2017-02-06 12:37] jbucaran commented on #12
Hey @aristidesfl.

I can see this plugin needs some refactoring. First, the following functions:

[code]

Split them apart into separate files. Use a better prefix, like _done_FUNCTION_NAME, e.g, `_done__is_terminal_focused`, and so on.

Then, the following functions:

[code]

Again, better to go with `_done_started`. `_done` is probably fine. Should go into a **snippet**.

Make a directory `conf.

[2017-02-06 12:46] aristidesfl commented on #12
Didn't know multiple function files were supported by fisherman. Also didn't know about conf.d.

Two questions:
1. Why not define _done_finished and _done_started in separate function files like the other functions too?
2. In alternative why not define all the functions in conf.d/done.fish?

[2017-02-06 12:55] jbucaran commented on #12
@aristidesfl

Reminds me that I need to write a fisherman plugin handbook or similar.

Good question. That's Because those functions register events, and the event emitter has no mechanism to determine whether a function in a file is a listener or not without sourcing the file first, so fish does nothing. Since we know those two are event listeners, we define them when in the snippet.

For the sam

[2017-02-06 15:45] AaronLasseigne commented on #11
I'm in iTerm2 on OSX 10.12.3. 915cb64 doesn't resolve the issue for me. If I open vim, wait more than 10 seconds, and then close it I get a notification. Originally I had requested this because I've added a custom command to launch my editor (neovim) with certain options. I was wanting to ignore my custom command.

[2017-02-06 17:30] aristidesfl commented on #11
The plugin is broken now and is not event supposed to send any notifications. I will let you know when its fixed so you can test it again. Thank you for your feedback.

[2017-02-06 17:57] aristidesfl commented on #12
If we name the function according to the file where it is saved, they will be loaded and the event hooks will still work, no?

https://github.com/jbucaran/fish-shell-cookbook/blame/master/README.md#L698 You mention aliases are not available for new shells, but that doesn't seem to be the case, unless you only set them for the login shell.

[2017-02-06 18:06] jbucaran commented on #12
No. The event emitter will fail to call the --on-event listener function because such function is not loaded and will never be unless you source the file in which it is saved or invoke it interactively causing it to be lazy-loaded.

This means they do not persist.

[code]

[2017-02-06 18:27] aristidesfl commented on #12
But this is the way `_done` has been working so far, and correctly. Are we talking about the same thing? https://github.com/fisherman/done/blob/0.3.0/_done.fish#L1

I though the cookbook was talking about defining aliases in `~/.config/fish/config.fish`. I wouldn't expect an alias defined in the terminal to get persisted across sessions any more than a function, without using `funcsave`. Also beca

[2017-02-06 18:37] aristidesfl commented on #12
On a related topic, how does fisherman handle updated of scripts where the file names have changed. If I creane new files with different names, will the old file stay installed when the user `fisher update` ?

[2017-02-06 18:46] jbucaran commented on #12
fish_prompt is special, because it's already available at the start of the shell. My advice applies to custom events or functions that are not loaded or those that you have no way to know whether they are loaded or not. Even if using fish_prompt, I would still use conf.d because it's the most appropriate, "fishy" way to do it.

My guide does not talk about snippets yet, and it seems a lot of peopl

[2017-02-06 18:57] aristidesfl commented on #12
But this will incur in slower initialisation like you mentioned with aliases correct? I'm only using native events in this case (`pre-exec` and `prompt`) On what basis do you suggest this to be the most "fishy" way to do it?

With snippets you mean the initialisation scripts in `conf.d`?

[2017-02-06 19:06] jbucaran commented on #12
There's been a misunderstanding. Let me explain it one more time. See, this function:

[code]

If you put that function in `~/.config/fish/functions/_stated.fish` you'd think it would be called before fish runs a command, correct? But it won't.

Why? Because it's not loaded in the session.

<img width="666" alt="screen shot 2017-02-07 at 4 04 32" src="https://cloud.githubusercontent.com/assets/569

[2017-02-06 19:51] aristidesfl commented on #12
This used to work, since that is how it was working until done v0.3. However now it doesn't seem to work anymore indeed. Could it be related to the fish version?

[2017-02-06 19:54] jbucaran commented on #12
Nope, it has always been like that. At least as far as I can remember since >=2.2.

Perhaps you had the function loaded in your session and never realized 🤔

[2017-02-06 20:01] aristidesfl commented on #12
This doesn't make any sense. I just rolled back to v2.1.2 and indeed not working. But how do you explain all the people who installed the plugin and had it working?

[2017-02-06 20:05] jbucaran commented on #12
I can only speculate. If I think hard I'm sure we could come up with a hypothesis. Do you find it so odd? hehe

[2017-02-06 20:43] aristidesfl commented on #12
Moving forward, did you answer this question?

I'm thinking about putting the following in `conf.d/done.fish`. It's just one extra function in the snippets, and think it doesn't warrant spreading the code over multiple files.

[code]

[2017-02-06 21:07] jbucaran commented on #12
Yeah, I can see where you're coming from.

Good question. We do nothing, so old files will stay in the plugin directory. Maybe we should delete them.

[2017-02-06 21:21] aristidesfl commented on #12
Yeah, because I remember specifically testing, when I renamed done to _done, there were conflicts. Even though I cannot reproduce it anymore, I'm afraid people will start getting multiple notifications.

How would you implement something like that? Currently fisherman only copies files existing in master right? It doesn't even use tags to update? Have you considered requiring release tags?

[2017-02-06 21:23] jbucaran commented on #12
It does tags IIRC, or perhaps that's only https://github.com/fisherman/fin.

Can't remember right without looking at the code cause it's just not used so often.

[2017-02-07 11:52] aristidesfl commented on #12
Is fin a replacement for fisherman? What is the idea?

Fisherman seems to fetch master's HEAD even without tags, no?

[2017-02-07 12:01] jbucaran commented on #12
@aristidesfl fin is an alternative plugin I made after fisherman. The story is more complicated than that, but I don't want to bore you with the details.

fin has the cleanest and best design considering size and number of features I managed to support in it. Fisherman handles more edge cases, supports oh-my-fish plugins more thoroughly and can query the remote org index. However, both download an

[2017-02-07 16:15] aristidesfl commented on #12
I just tested this once again, and `fisher update` still pulls from the tip of master even if there no tag.

[2017-02-07 16:19] jbucaran commented on #12
@aristidesfl You need to specify the branch when installing, see [this](https://github.com/fisherman/fisherman/blob/master/fisher.fish#L585) code.

[2017-02-07 16:24] aristidesfl commented on #12
@jbucaran I didn't intend to install specific tags, but prevent lose commits from being installed until a new release is created. The workaround it not committing directly to master. However using tags would enforce proper versioning of plugins.

[2017-02-07 16:29] jbucaran commented on #12
@aristidesfl Ah, gotcha. I had to draw the distinction between a plugin and a package at some point. I admit the scope is limited, but plugins rarely become so complex that they need so much upkeep. It's part of the minimal nature of the project.

Having said that, I'd love to merge a solution if you or anyone can create one.

[2017-02-08 00:46] aristidesfl commented on #12
Thanks for the help! Version 1 uses a snippet instead of function files.

[2017-02-08 00:46] #12 closed

[2017-02-08 00:48] aristidesfl commented on #11
@AaronLasseigne can you please test v1.0.0? It should be fixed. Make sure you have fish >2.3.0 installed. Thanks!

[2017-02-08 18:34] AaronLasseigne commented on #11
I'm still having some issues but I've corrected them with #13.

[2017-02-09 02:40] skorokithakis opened #14 "Customize command used to send notifications?"
Would it be possible to customize the command that's used? I use [ntfy](https://github.com/dschep/ntfy) for the same purpose, but I always have to run everything prefixed by the command. This plugin is great in that it's automatic, but it's currently not working for me, and I don't really want to install Ruby just to install the terminal notifier...

[2017-02-09 02:45] skorokithakis commented on #14
Actually, the fix in #13 worked perfectly for me, so I'll just wait for that, thank you.

[2017-02-09 02:45] #14 closed

[2017-02-09 04:13] aristidesfl commented on #11
Merged, thanks!

[2017-02-09 04:13] #11 closed

[2017-02-09 14:22] skorokithakis opened #15 "Humanize the time display"
It would be nice if instead of "1837 seconds", the display said "30:37".

[2017-02-09 14:24] skorokithakis opened #16 "Specify whether the command finished successfully."
Perhaps the notification can say whether the command finished with an error or successfully? This could be as simple as "Finished in X" and "Errored in X".

[2017-02-09 16:59] aristidesfl commented on #16
Good idea. Probably not "Errored' though.

[2017-02-09 17:18] aristidesfl commented on #15
This is interesting but there might be more human ways than `Finished in 00:00:11.`
What do you think of `02h40m11s`? Ideally if it less than a minute, `11s`. If it is less than an hour `3m15s`. Or `3min 15sec`.

[2017-02-09 17:21] skorokithakis commented on #15
I definitely like that more, but you know what they say, a PR in the hand is worth two issue requests in the bush, so I figured I'd try my hand at it. I'm not great at fish scripting, so I couldn't easily implement what you describe, or I would have.

I think a good compromise would be to merge this version (because it's better than "354.391s") and keep the issue open for the improved version?

[2017-02-09 17:22] skorokithakis commented on #16
Yeah, I realized that as I was typing it, but all the alternatives felt worse. "Finished in X" "Finished with an error in X" is too long for the failure case, but maybe adding an extra line with "There was an error" at the end is good enough?

[2017-02-09 17:52] jbucaran commented on #15
There's a fisherman plugin that could help with that.
* https://github.com/fisherman/humanize_duration

[2017-02-09 17:53] skorokithakis commented on #15
Oh, that looks ideal, thank you!

[2017-02-09 17:54] aristidesfl commented on #15
@jbucaran does fisherman support dependencies?

[2017-02-09 17:54] skorokithakis commented on #15
I'll just copy it over, it's just an awk function.

[2017-02-09 17:55] jbucaran commented on #15
@skorokithakis @aristidesfl Of course! It's the README.

* https://github.com/fisherman/fisherman#how-can-i-list-plugins-as-dependencies-to-my-plugin

[2017-02-09 17:59] skorokithakis commented on #15
That won't work, that plugin prints the duration rather than return it.

[2017-02-09 17:59] jbucaran commented on #15
For an example on how to use the dependencies, see this plugin that has a few.

* https://github.com/fisherman/shark

[2017-02-09 18:01] jbucaran commented on #15
@skorokithakis In shell you can't return values from functions, but rather capture the output sent to the different standard streams.

[code]

[2017-02-09 21:19] skorokithakis commented on #15
Oh, thank you. I'll give it a go, then.

[2017-02-10 12:30] skorokithakis commented on #15
Should be done, works fine for me! Let me know if there's anything else you need before merging the PR.

[2017-02-10 15:09] #15 closed

[2017-02-12 17:21] aristidesfl commented on #16
`Finished in X with errors` doesn't seem that long:

![screen shot 2017-02-12 at 18 19 02](https://cloud.githubusercontent.com/assets/208149/22864335/c379e81a-f14f-11e6-96c7-925dd9de2e98.png)

Other options would be `Failed in X`:
![screen shot 2017-02-12 at 18 20 10](https://cloud.githubusercontent.com/assets/208149/22864343/0628755a-f150-11e6-9d13-0c50e92e5577.png)

[2017-02-12 17:24] jbucaran commented on #16
First one sounds more natural.

[2017-02-12 17:35] skorokithakis commented on #16
Agreed, that seems fine to me too.

[2017-02-12 17:51] aristidesfl commented on #16
What do you guys think about `Finished in 2m 32s` vs `Done in 2m 32s` ?

![screen shot 2017-02-12 at 18 50 52](https://cloud.githubusercontent.com/assets/208149/22864574/3e11b716-f154-11e6-9e35-77a72245ce3e.png)

First seems more natural but second is shorter and playful?

[2017-02-12 17:55] jbucaran commented on #16
Definitely `done`.

[2017-02-12 18:01] aristidesfl commented on #16
And for errors?

![screen shot 2017-02-12 at 18 59 23](https://cloud.githubusercontent.com/assets/208149/22864636/9a73adce-f155-11e6-810d-4e99bae213b0.png)

😄

[2017-02-12 18:09] franciscolourenco opened #18 "Threshold duration before notification"
I've been thinking about reducing the default minimum period a command needs to run in order to trigger a notification from `10s` to `3s` or `5s`. Any scenarios where you think this would be undesirable?

[2017-02-12 19:34] aristidesfl commented on #16
I wonder if `Overdone after 2m 32s` is clear enough or if `Burned after 2m 32s` would be better.
Also we could add the exit code in case of error `Overdone (1) after 2m 32s`

[2017-02-12 23:19] skorokithakis commented on #16
I think that's getting a bit too cryptic (not to mention that the metaphor doesn't work because the command took *less* time than it should :P).

[2017-02-12 23:42] aristidesfl commented on #16
hihi, so what, keep it to `Done in X with errors`?

[2017-02-13 00:08] skorokithakis commented on #16
Sounds good to me, or "Finished with errors in X".

[2017-02-14 01:00] aristidesfl commented on #16
For errors ended up with something like `Exit status 1 after 3m 23s`.

Done in https://github.com/fisherman/done/releases/tag/1.2.0

[2017-02-14 01:00] #16 closed

[2017-02-14 01:02] dawehner commented on #18
Works for me. My commands are mostly instant or long

[2017-02-14 01:03] dawehner commented on #18
We should find out the average focus time of us using stats and set the time automatically ;(

[2017-02-14 01:07] aristidesfl commented on #18
The question is: if you switch away from the terminal to another app right after starting a command, and it finishes after 4s, would you not want to know about it? The notification never gets triggered as long as you are looking at the output of the command.

[2017-02-14 01:14] dawehner commented on #18
Maybe it would be nice if the user didn't came back to the shell in a
certain time. That's harder of course than just changing this time.

On Tue, 14 Feb 2017, 01:07 Francisco Lourenço, <notifications@github.com>
wrote:

The question is: if you switch away from the terminal to another app right
after starting a command, and it finishes after 4s, would you not want to
know about it? The notificatio

[2017-04-12 03:35] balupton opened #19 "test: Missing argument at index 2"
[code]

[2017-04-12 11:39] aristidesfl commented on #19
@jbucaran [`$__done_initial_window_id`](https://github.com/fisherman/done/blob/1.2.1/conf.d/done.fish#L26) is always empty in the session where `done` is installed. I assume it is due to the way fisher is sourcing the files on install?

This needs variable needs to be local to the session.

[2017-04-12 14:18] jbucaran commented on #19
I guess so.

[2017-04-12 14:26] aristidesfl commented on #19
@jbucaran any idea on how to fix?

[2017-04-12 14:46] jbucaran commented on #19
Sorry, I don't understand the issue. What's the problem?

[2017-04-12 15:07] aristidesfl commented on #19
@jbucaran `$__done_initial_window_id` is not (being set/available) in the session where `fisherman/done` is installed.

1. Install `fisherman/done` for the first time
2. Execute `sleep 11`
3. You get `test: Missing argument at index 2` coming from [this line](https://github.com/fisherman/done/blob/1.2.1/conf.d/done.fish#L51)
4. Open a new fish shell
5. type `sleep 11`
6. It works fine

[2017-04-12 15:38] jbucaran commented on #19
@aristidesfl Make sure to declare `__done_initial_window_id` as a global variable.

[code]

![screen shot 2017-04-13 at 0 38 11](https://cloud.githubusercontent.com/assets/56996/24966306/87830326-1fe1-11e7-9ff9-6c1d28ba0ca1.png)

[2017-04-12 17:12] aristidesfl commented on #19
@jbucaran won't that break the plugin if two different terminals are being used at the same time?

[2017-04-12 18:00] aristidesfl commented on #19
Fixed in https://github.com/fisherman/done/releases/tag/1.2.2

@jbucaran thanks! `fisherman` doesn't seem to always install the latest version without `update`. Is there some caching going on?

[2017-04-12 18:00] #19 closed

[2017-04-12 18:22] jbucaran commented on #19
@aristidesfl Ah, yes, stuff in the cache takes precedence. Perhaps we could force to download fresh and use the cache only if that (download) fails.

[2017-04-12 18:43] aristidesfl commented on #19
@jbucaran I think that would better satisfy expectations, talking from the point of view of someone used to homebrew.

[2017-04-12 22:29] balupton commented on #19
+1 on that, even knowing this behaviour it is still confusing. For me, I had run `fisher rm done`, then `fisher done` - and it installed from cache again. So it seems one has to install then update, which isn't intuitive.

[2017-05-09 08:04] mokasin opened #20 "'xprop: unable to open display ''' message spam, when no display is available"
When logging in remotely over SSH in a non-graphical session, after every command

[code]

is displayed. Maybe check for `DISPLAY` environment variable first, before running [`xprop`](https://github.com/fisherman/done/blob/master/conf.d/done.fish#L32)?

So in the spirit of
[code]

[2017-05-09 20:22] aristidesfl commented on #20
So you installed this plugin in a server because of your dotfiles?

[2017-05-09 21:06] mokasin commented on #20
It's not on server but in a machine I also work on remotely.

Am 9. Mai 2017 22:22:13 MESZ schrieb "Francisco Lourenço" <notifications@github.com>:

[2017-05-10 07:12] aristidesfl commented on #20
I guess we should disable Done completely if the login is from ssh..

[2017-05-13 08:48] mokasin commented on #20
Yes, that's reasonable

[2017-05-18 03:32] dpc commented on #20
I was going to report the same problem.

Maybe you could try to fall back to use `tmux display`?

Also, as an immediate fix, please just pipe errors to `/dev/null` and release it. I really like this plugin, but this `xprop` thing is really annoying. :)

[2017-05-18 13:26] aristidesfl commented on #20
I will try address this tonight.
@dpc In the meanwhile you can actually fork it and install from your repo with fisherman.

[2017-05-20 12:54] aristidesfl commented on #20
@dcp with `tmux display` do you mean that you would like to have a notification in tmux status bar when you are using tmux over ssh?

[2017-05-20 14:19] aristidesfl commented on #20
Can you please test if https://github.com/fisherman/done/tree/20 fixes the problem?

[code]

[2017-05-20 19:55] phatblat opened #21 "Any way to prevent notifications when iTerm2 stops to wait for GUI app?"
I have an `editw` function that opens a file in TextMate and waits (`mate -w`) for the file to be closed before allowing the terminal to continue. This is the only way to use a GUI editor for things like git commit messages or interactive rebase. The `editw` function falls back to using Vim for non-login shells and SSH connections.

I get no notification when this function ends up launching Vim si

[2017-05-20 20:27] dpc commented on #20
[code]

[2017-05-20 20:31] aristidesfl commented on #21
This has never happened to me since iTerm gets focus after the editor window is closed. I use Sublime Text, but also just tried to reproduce with Textmate without success.

Which version of iTerm, Textmate, macOS are you using?
Have you tried `fisher update`?

[2017-05-20 20:56] aristidesfl commented on #21
@phatblat do you get notification on the screen or only in notification center sidebar?

[2017-05-20 21:06] phatblat commented on #21
- iTerm
- TextMate 2.0-rc.7

[2017-05-20 21:12] phatblat commented on #21
I use iTerm2's Hotkey Window profile almost exclusively and didn't think about how that is a factor. When the focus moves from iTerm2 to TextMate, the iTerm2 window disappears. So, when I'm done editing and the terminal continues, it is hidden and does not have the focus.

Testing with a normal iTerm2 window, I get no notifications at all. With the Hotkey Window, I get a notification only in the N

[2017-05-20 22:31] aristidesfl commented on #20
fish version?

[2017-05-20 23:06] dpc commented on #20
[code]

[2017-05-21 17:35] aristidesfl commented on #20
@dpc just updated with a new version, can you please try again? If you still have the same branch installed `fisher update` should be enough, otherwise restart fish after that.

[2017-05-21 18:13] aristidesfl commented on #21
It seems that even with normal iTerm window mode, the detection is not working because when the prompt function is executed lsappinfo still reports sublime/textmate as the frontmost window. However, by the time terminal-notifier is executed, lsappinfo reports iTerm as the frontmost window, so the notification is only displayed in the sidebar.

Seems to be a matter of milliseconds..

[2017-05-21 18:46] aristidesfl commented on #21
@phatblat I'm experimenting with the iTerm hotkey, but the focus still returns to iTerm when its window is evoked with the hotkey. Anything else special?

[2017-05-21 19:49] phatblat commented on #21
Under Preferences > Keys

![screen shot 2017-05-21 at 1 48 10 pm](https://cloud.githubusercontent.com/assets/28851/26286871/2b9b8a1a-3e2c-11e7-9ea5-6ff0493279da.png)

The last checkbox makes the iTerm Hotkey Window disappear when it loses focus.

[2017-05-21 21:17] mokasin commented on #20
I can confirm, that the latest update does not produce the unwanted `xprop` in an `ssh` session.

[2017-05-22 06:05] c02y opened #22 ""Unknown option --app-name=terminal""
It doesn't work for my old platform which is CentOS 6.5 32-bit

notify-send -v: 0.5.0

Error message:

    Unknown option --app-name=terminal

Don't know if it is caused by the old version of notify-send, but I cannot get new version right now.

So, after modifying the line in done.fish

    notify-send --icon=terminal --app-name=terminal "$title" "$message"

to

    notify-send --icon=terminal "$

[2017-05-22 07:55] aristidesfl commented on #22
Dependencies should be installed automatically. Is it still important to know the dependencies if they are handled automatically?

[2017-05-22 10:24] c02y commented on #22
Since you got "Manually:" line in it, manually installing `done` plugin won't make it work as expected since no dependencies will be installed, I guess it's better to mention the dependencies.

[2017-05-22 16:24] aristidesfl commented on #22
Good point.. did you install it manually?

[2017-05-22 19:14] #20 closed

[2017-05-22 19:21] aristidesfl commented on #22
Can't find documentation about `--app-name`.
notify-send fixed in https://github.com/fisherman/done/releases/tag/1.2.4

[2017-05-22 19:21] #22 closed

[2017-05-23 01:04] c02y commented on #22
Yes, I installed it manually, I don't use fisher or any other kind of plugin manager of fish-shell.

[2017-05-23 18:14] aristidesfl commented on #22
humanize_duration doesn't have manual install instructions. how did you install it?

[2017-05-24 00:10] jbucaran commented on #22
I guess @c02y just put the file inside their functions directory?

[2017-05-24 02:05] c02y commented on #22
Yes, just put the done.fish and humanize_duration.fish in ~/.config/fish/functions directory.

[2017-06-05 15:53] aristidesfl commented on #21
@phatblat do you use editw in any other situation besides git, or know any other utilities which open a GUI and wait before continuing? I'm considering disabling done for git and other version control commands.

Also its not clear on to detect editw usage, if you are typing git commit in the terminal.

[2017-06-05 16:37] aristidesfl commented on #21
Also it would probably not work if you have some alias for git commands.. :/

[2017-06-17 22:24] aristidesfl commented on #21
@phatblat I assume you have editw set as your git editor, right?

[2017-06-18 17:28] aristidesfl commented on #21
@phatblat this was fixed in https://github.com/fisherman/done/releases/tag/1.4.0 . Only git is excluded by default, but you can configure it with `$__done_exclude`. Let me know if you find any other commands which should be excluded by default, or removed from the exclusion.

[2017-06-18 17:28] #21 closed

[2017-06-18 19:04] phatblat commented on #21
Awesome! I'll try it out, thanks!

[2017-06-22 02:28] igrep opened #23 "Feature request: Custom notification command"
Thanks for making an interesting plugin!
I'll definitely use it if we can configure the command to notify.

Here's why:
- I'm a both Windows and Linux user. And I usually run Linux on Virtualbox **without a desktop environment**, which makes it hard to notify graphically. So I invented an original command to notify on Windows (by combining a tiny server and NAT).
- My favorite notification method

[2017-06-24 12:11] aristidesfl commented on #23
Sounds like a reasonable request. Besides that:
- What method are you using inside windows to popup a notification?
- Can you take a screenshot / video showing what your banner notification looks like in practice? This could be a better fallback than the bell.

[2017-06-26 02:34] igrep commented on #23
Like this:

![done](https://user-images.githubusercontent.com/227057/27522746-57d8bb9a-5a63-11e7-8b7c-e99e9968c53d.gif)

And the content of done.sh is:

[code]

[2017-07-14 01:35] c02y commented on #20
When I'm in tty mode such as "Ctrl-Alt-F2", a line

    xprop: unable to open display''

will always be displayed before fish prompt.

I tried to update done.fish to the latest version (commit 1485d72), but it is still the same result. It is normal when I'm in Desktop.

[2017-07-17 18:14] aristidesfl commented on #20
@c02y thanks for the report! can you test [1.4.1](https://github.com/fisherman/done/releases/tag/1.4.1)?

[2017-07-18 01:19] c02y commented on #20
OK, it works fine. But the line containing "$SSH_CLIENT" is unnecessary, already tested earlier.

Or you can just replace the part in done.fish with the snippet I posted earlier.

[2017-07-18 06:42] aristidesfl commented on #20
@c02y I left it because I didn't have opportunity to test what happens when you ssh into a mac. Next time you feel like contributing actual code feel free to open a pull request :)

[2017-07-18 10:14] c02y commented on #20
I don't have a mac, so I cannot help with that, but I tested between Linux boxes.

It is not complicated modification, so for me it's unnecessary to open a pull request, hope you wouldn't mind.

[2018-02-07 07:29] c02y opened #27 "No protocol specified when using executing the xprop line in done.fish"
https://github.com/fisherman/done/blob/d07eca1cde37303cf63ca8ab4fbb951d883a3f81/conf.d/done.fish#L30

I sourced done.fish in my config.fish, and after every fish prompt, there will be a line of error message:

    No protocol specified

and found the issue is caused by the xprop line:

    xprop -root 32x '\t$0' _NET_ACTIVE_WINDOW | cut -f 2

but I'm not familiar with the xprop, after googling a w

[2018-02-26 01:32] jeLee6gi opened #29 "fish-shell renamed $CMD_DURATION to $cmd_duration"
done fails for me because `$CMD_DURATION` was renamed to `$cmd_duration`.

This is the commit https://github.com/fish-shell/fish-shell/commit/18b06f3768d6f964dd2c679aee2e80a21c820fe4

[2018-02-26 07:43] jeLee6gi commented on #29
I just noticed that I encounter this error because I built fish shell directly from git and the commit I referenced is not yet contained in the most recent release 2.7.1.

I'll close this for now.

[2018-02-26 07:43] #29 closed

[2018-03-25 15:51] franciscolourenco commented on #27
@c02y can yuo paste the output of `echo $DISPLAY`? Thanks!

[2018-03-25 16:12] franciscolourenco commented on #23
Added in 1.6.0 https://github.com/fisherman/done/tree/1.6.0#execute-a-custom-command-instead-of-showing-the-default-notifications

[2018-03-25 16:12] #23 closed

[2018-03-25 16:19] #18 closed

[2018-03-26 11:16] c02y commented on #27
$ echo $DISPLAY
    :0

[2018-03-31 11:55] franciscolourenco commented on #27
@c02y are you using KDE?

[2018-04-01 11:59] c02y commented on #27
Yes.

[2018-04-01 15:16] franciscolourenco commented on #27
@c02y Just installed Tumbleweed with KDE and cannot reproduce. What is the result of

[code]

?

[2018-04-02 12:38] c02y commented on #27
![screenshot_20180402_203446](https://user-images.githubusercontent.com/2135996/38196449-d59c2e66-36b5-11e8-81d2-52aed2bd108f.png)

[2018-04-02 19:07] franciscolourenco commented on #27
@c02y can you try what is suggested in this answer? https://unix.stackexchange.com/a/429809

[2018-04-03 12:28] c02y commented on #27
It is not working.

And I tried all the answers in that post, none of them works.

[2018-04-03 15:02] franciscolourenco commented on #27
That is strange, and I cannot reproduce the problem. Do you have anything unusual in your setup?

[2018-04-04 01:32] c02y commented on #27
Unusual? I use the same fish configurations in multiple machines, other machines work fine, but the machine I  mentioned in the top of this thread doesn't work. It is weird.

[2018-04-04 07:57] franciscolourenco commented on #27
I meant unusual in the machine itself 😄  like for example, a remote desktop or streaming display something like that.

Could you try xdotool as described in this answer and see if it works? https://superuser.com/a/615946

[2018-04-04 11:16] c02y commented on #27
No protocol specified
    chz : tmux — Yakuake

[2018-04-04 12:34] c02y commented on #27
No, I tried it without tmux session running, the same result.

After every fish prompt, there will be a line of error message:

    No protocol specified

[2018-04-08 20:16] jeLee6gi opened #32 "Error connecting to tmux"
I don't use tmux and done 1.7 started giving me error messages about being unable to connect to tmux on stderr.

[code]

[2018-04-08 20:19] jeLee6gi opened #34 "Unknown command '__done_get_window_id'"
done 1.7 tries to call `__done_get_window_id` but that function does not seem to be defined. Is it supposed to be `__done_get_focused_window_id`?

[code]

[2018-04-09 08:15] #32 closed

[2018-04-09 08:18] #34 closed, assigned to nobody

[2018-06-06 20:22] BarbzYHOOL opened #36 "It's doing nothing with SSH + Byobu + Fish"
I don't know what the plugin is supposed to do but I type "sleep 6" and nothing happens.

I made my tests by connecting on a debian 9 server, logging in SSH, in Byobu, installing fisherman and "done" aand typing "sleep 6" and switching window or not.

[2018-06-07 08:41] franciscolourenco commented on #36
The plugin does not work over SSH, only on local. Do you have any ideas to make it work over SSH?

[2018-06-07 13:31] BarbzYHOOL commented on #36
No, sorry

[2018-06-07 13:39] BarbzYHOOL commented on #36
Here a link that talks about SSH https://codeyarns.com/2013/06/29/how-to-get-notification-on-long-duration-command-completion-in-fish/

[2018-06-10 15:20] BarbzYHOOL commented on #36
I didn't test because I made my own notification script and still haven't tried with X11 forwarding but it should work fine (as I've already opened a GUI program once with it)

[2018-06-10 18:09] franciscolourenco commented on #36
If you could confirm that it is working, that would narrow it down to Byobu.

[2018-06-12 20:58] BarbzYHOOL commented on #36
I'll do some tests in the future (I promise).

I took time to create my own notification and used "xdotool" to get the active window and then I looked at the code of this plugin and was like "why the hell did I spend time on this -__-" (I just was on oh my fish at that time and it was not possible to install it)

[2018-06-12 21:00] BarbzYHOOL opened #37 "Default excluded commands"
I suggest to add these commands to the default ignored commands:

    nano vim edit sudoedit ssh top man htop iotop less more

If I find more I'll note them down.

Feel free to discuss them

[2018-06-12 21:07] BarbzYHOOL opened #38 "Add config for bell sound"
Something like:

	set -l NOTIF_BEEP 1 # Allow beep or not

	# Beep
	if test "$NOTIF_BEEP" -eq 1
		echo -n \a
	end

(btw the bell sound doesn't work on my computer but that's not fish related)

[2018-06-26 13:46] BarbzYHOOL opened #39 "Feature - Warn when program hanging or waiting for user input"
I don't know if it's possible but what about warning the user when the program is hanging or when there is a prompt to answer?

That would be really really helpful

[2018-07-05 23:08] BarbzYHOOL opened #40 "Notif pops up when TAB is not focused (switched tab)"
Actually, it displays the notification when the window is not focused, which is great, but if you open a new tab and switch to it, then the notification won't display because it considers you're in the same windows (which is true lol)

Need to add a tab option

I'm on linux so it's probably this line to edit, but no idea how:

    	xprop -root 32x '\t$0' _NET_ACTIVE_WINDOW | cut -f 2

PS: why is t

[2018-07-06 13:47] BarbzYHOOL commented on #40
But it's a bunch of function, not a simple configuration file. Seems weird to me

For tab detection, I looked on google and found nobody who tried this yet... not very encouraging :P

[2018-07-06 14:30] franciscolourenco commented on #40
@BarbzYHOOL This thread might give you some insight into `conf.d` https://github.com/fisherman/done/issues/12

[2018-07-06 15:09] BarbzYHOOL commented on #40
(sorry for offtopic)

[code]

He said not to put all in conf.d (didn't read entire thread yet though), no?

His own plugin doesn't do it like this https://github.com/fisherman/fishtape

[2018-07-06 17:05] franciscolourenco commented on #40
These 2 functions need to be eagerly loaded:
[code]

It was not worthwhile to spread the other 3 functions in different files since the performance impact is negligible.

[2018-08-17 03:06] zhangnew commented on #5
For wsl : https://github.com/Microsoft/WSL/issues/2466

`set -U __done_notification_command 'powershell.exe -command New-BurntToastNotification -Text WSL-ok'`

[2018-09-15 18:38] franciscolourenco commented on #39
I don't know any way to detect if the current process is waiting for user input. @jorgebucaran any ideas?

[2018-09-15 18:47] franciscolourenco commented on #36
@BarbzYHOOL did you configure X11 forwarding on the server? Are you connecting with `ssh -X`?

https://unix.stackexchange.com/questions/12755/how-to-forward-x-over-ssh-to-run-graphics-applications-remotely

[2018-09-15 18:50] franciscolourenco commented on #37
These are commands which are supposed to terminate while your terminal is in the foreground - in which case the script should not send a notification.

On the other hand, if a ssh session in the background, you might want to know about
it.

Do you receive a notifications when run these commands?

[2018-09-15 22:37] jorgebucaran commented on #39
@BarbzYHOOL Do you mean when a background process is hanging? 🤔

[2018-09-17 15:58] BarbzYHOOL commented on #39
Example: you run ansible which auto installs stuff, and at some point, it asks for a prompt (or it asks at start but you launch ansible and you immediately alt+tab) but you're doing something else and the auto install never completes because of that.

[2018-09-17 16:03] BarbzYHOOL commented on #37
Hmm you're right, I don't know how but I received notification with some of these commands but I don't remember how and why

[2018-09-17 16:05] jorgebucaran commented on #39
@BarbzYHOOL Would ansible run as a background job in a subshell or in a different shell like on a new tab or window?

[2018-09-17 18:50] BarbzYHOOL commented on #39
In a new window because it takes a long time so I switch, and not in background (basically that's what "done" is about :P and in new tab it's not detected, I already opened an issue for new tab and i looked on google, but didn't find how to make "done" work with new tabs)

[2018-09-17 18:50] BarbzYHOOL commented on #36
yeah

[2018-12-13 19:33] yegorius opened #42 "Prompt stuck in Linux VT console"
Prompt hangs if fish is being run from Linux VT console.
This happens because `test -n __done_get_focused_window_id` always evaluates to `true`, regardless of DISPLAY variable being set.

[2018-12-23 19:48] franciscolourenco commented on #5
@zhangnew do you have a proposal on how to integrate this in the package?

[2019-01-13 10:04] olfway opened #44 "Update humanize-duration repo"
jorgebucaran/FISH-humanize_duration was renamed to jorgebucaran/fish-humanize-duration

[2019-01-14 06:52] franciscolourenco commented on #44
Thanks, and sorry. Already merged jorgebucaran's PR.

[2019-01-14 06:52] #44 closed

[2019-02-04 11:14] rj93 opened #48 "Add support for terminal-notifier sound"
terminal-notifier has the ability to trigger a sound using the `-sound` parameter. It would be a nice addition if this was configurable.

[2019-03-29 03:04] bfred-it commented on #42
It's happening for me too:

[code]

I have to press `ctrl+c` to end it or click the notification, which makes this appear:

[code]

This actually seems to be a bug with `terminal-notifier` because after running `brew uninstall terminal-notifier` this bug no longer shows up.

[2019-05-24 20:19] toejough opened #49 "tmux support"
AFAICT, this doesn't work with tmux.

OS: MacOS 10.14.5
Terminal: iTerm2 3.3.0beta5
tmux: 2.9a
fish: 3.0.2

without tmux, this works as expected.  With tmux, I get no notifications.

[2019-05-25 14:23] franciscolourenco commented on #49
@toejough it does work for me. Are you logging into a remote server or local tmux server?

[2019-05-25 15:23] toejough commented on #49
Local

On Sat, May 25, 2019, 10:23 AM Francisco Lourenço <notifications@github.com>
wrote:

[2019-05-26 18:13] franciscolourenco commented on #49
@toejough The following steps work for me using the same versions. They don't work for you?

1. Type `sleep 15`
2. Switch to another application
3. Wait 15 seconds
4. Receive notification.

[2019-05-28 13:58] toejough commented on #49
No...  :-/

I appreciate your responsiveness & repro attempts!  I'm not sure what the difference could be now.

I've:

* reinstalled `terminal-notifier` and `done`
* closed tmux & iterm
* opened a new iterm
* run `sleep 5` and clicked off to another app window
* gotten a notification after 5s.
* moved my `.tmux.conf` so I had vanilla tmux config
* started a local tmux session with `tmux`
* run `sl

[2019-05-28 13:59] toejough commented on #49
(I also tried `sleep 15`, to be sure it's not about edge cases)

[2019-05-28 14:01] toejough commented on #49
FWIW, `terminal-notifier -message YO` shows the expected notification both in iterm and in tmux (even with my custom .tmux.conf).

[2019-07-02 13:01] toejough commented on #49
...I'm no longer having this issue.  I did uninstall terminal-notifier, and then a few days later this plugin started working and it caught me totally off guard.

I reinstalled terminal-notifier, and everything still works.  I'm very confused, but I'll close the issue.

[2019-07-02 13:01] #49 closed

[2019-07-02 13:02] toejough commented on #49
Also, now that it's working for me, I find this *really* cool.  Thank you for making it!

[2019-07-02 15:05] franciscolourenco commented on #49
Thanks for the update!

[2019-08-17 00:18] yegorius commented on #42
I know my fork is only relevant for Linux, but this is how I solved the problem in my case.
https://github.com/yegorius/done

[2019-08-17 13:55] franciscolourenco commented on #42
@fregante These seem to be separate issues then. @fregante would you mind creating a new ticket for the terminal-notifier problem so I can have a look into it separately?

@yegorius Thanks for the branch I will have a look!

[2019-08-17 13:57] franciscolourenco commented on #42
@fregante have you tried updating terminal notifier? I have version 2.0 installed and cannot reproduce

[2019-08-17 14:09] franciscolourenco commented on #42
@yegorius which distro are you using?

[2019-08-17 14:48] franciscolourenco commented on #42
@yegorius I've pushed a fix. Could you please confirm that it works by uninstalling your fork and installing with
[code]

Thanks!

[2019-08-20 13:01] yegorius commented on #42
It works ok, I am not experiencing the bug any more.

[2019-08-21 12:48] #42 closed

[2019-08-21 12:52] franciscolourenco commented on #42
Released in 1.8.1
[code]

[2019-09-24 17:10] sollidsnake opened #51 "Failed notifications won't disappear"
When I have some command that returns a non-zero status, the notification stays on the screen forever, until I manually close it. I'm using done with KDE Plasma, under Arch Linux, and this only happens for notifications of this package.

[2019-09-27 05:14] unai-ndz commented on #51
It's probably because they are tagged as "critical". Look if there is a setting under KDE or the program used to display notifications to change the timeout of critical notifications.

[2019-09-27 05:27] unai-ndz opened #52 "Source fish file option?"
`__done_notification_command` is good enough for simple things but the escaping needed can get really bad for complex commands.

What do you think about testing if `__fish_config_dir/conf.d/done_command.fish` exists and sourcing it in case it does?

I'm up to making a PR. I actually have my `done.fish` edited in this way already.

[2019-09-27 11:45] franciscolourenco commented on #52
@unai-ndz can't you set the command option to execute a script or source your file?
[code]

[2019-09-27 12:41] sollidsnake commented on #51
Indeed there's a setting for the notifications timeout in KDE, which is by default configured to 6 seconds, but it doesn't seem to have setting related to "critical". So you believe this is a KDE issue?

[2019-09-27 20:44] unai-ndz commented on #52
You are right, I did try that before and it didn't quite work so i thought the `eval` was messing things up but i have tried again and it's working. Must have been something else. Thanks for the tip.

[2019-09-27 20:44] #52 closed

[2019-09-28 08:36] unai-ndz commented on #51
The current behavior is defined in the [specification](https://developer.gnome.org/notification-spec/). Look at urgency levels. And failed commands being critical seams sane for me, it's actually what i want. I think it's weird KDE does not have a configuration option for that, as every program for notifications I have used have something like that and KDE usually has a lot of customization afaik.

[2019-09-28 19:59] sollidsnake commented on #51
Indeed KDE is very customizable, but it doesn't seem to have anything related to critical notifications not disappearing.
These are the options I have on my system settings:
![Screenshot_20190928_163620](https://user-images.githubusercontent.com/1778350/65821610-1e764e00-e20e-11e9-9383-f3e3d425d116.png)
![Screenshot_20190928_164302](https://user-images.githubusercontent.com/1778350/65821676-0bb049

[2019-10-07 21:44] gpanders commented on #49
Unfortunately I'm having a similar issue:

1. Works when not in tmux
2. Does not work in tmux
3. Works when `terminal-notifier` is not installed (uses `osascript` instead)

I have tried uninstalling and re-installing `terminal-notifier` but this did not change anything.

FWIW, I've noticed that the following
[code]
does not work, but omitting the `-sender` argument does work:
[code]
So I think the

[2019-10-07 22:04] franciscolourenco commented on #49
@gpanders 1.8.2 should fix the issue. Can you confirm? Thanks

[2019-10-07 22:05] gpanders commented on #49
Yes that seems to have fixed it. Thanks!

[2019-10-11 14:37] ammgws commented on #27
This issue seems stale. Would you be OK with closing it?

[2019-10-11 14:47] franciscolourenco commented on #27
@c02y can you still reproduce the problem?

[2019-10-11 14:55] ammgws opened #53 "Question about test file"
The file at `test/done.fish` doesn't appear to contain valid fish syntax where the `test` function is used, is this on purpose?

[code]

Output:

[2019-10-11 15:19] ammgws commented on #51
Could we close this issue as it is not related to this package?

[2019-10-11 16:32] franciscolourenco commented on #53
The tests are run with https://github.com/jorgebucaran/fishtape
The syntax seems to be outdated

[2019-10-11 16:32] #53 closed

[2019-10-11 16:37] #51 closed

[2019-10-12 00:45] ammgws commented on #37
Is it safe to close this issue now? I cannot reproduce it either.

[2019-10-12 00:47] ammgws commented on #40
What is a "tab" in this case? Which window manager/desktop environment were you using?

[2019-10-12 00:51] ammgws commented on #36
What's the goal here?

SSH into another machine that has fish shell and `done` installed, and you want the notifications to appear on the local machine?

Or SSH into another machine that has fish shell and `done` installed, and you want the notifications to appear on the remote machine's monitor?

[2019-10-12 00:58] ammgws commented on #39
Unfortunately this doesn't look like something that can be trivially implemented.

[2019-10-12 02:38] c02y commented on #27
No, the problems is gone, but I'm using another environment now:
Manjaro
fish-shell: v3.0.2

`done` works fine in this environment, and I'm still using the old version of `done`, v1.8.1, this reminds me of updating it.

Thanks for the help.

[2019-10-12 02:38] #27 closed

[2019-10-12 12:44] #37 closed

[2019-10-18 13:49] franciscolourenco commented on #48
@rj93 are you looking to customize the sounds, or just a way to enable the sound?

[2019-10-18 13:53] #48 closed

[2019-11-13 01:54] ohk2kt3t4 commented on #5
If being run under WSL:
- can detect if being run under WSL using `grep Microsoft /proc/version`
- can detect if BurntToast is installed using `powershell.exe -command Get-Module -Name Burnt Toast`. (Need to figure out how to get the exit status from this command...)

However the biggest issue is detecting whether or not the terminal window is in the foreground.

[2019-11-23 13:24] ammgws commented on #5
AFAIK when running on Windows, `fish` would just be running in something like cygwin or WSL where you cannot get the focused state of the app. However since this script also seems to work with `tmux`, perhaps on Windows notifications could still be sent when using tmux.

I don't seem to be getting any notifications from detached tmux windows on my linux machine, so first I will debug that and once

[2019-12-05 10:40] ammgws commented on #5
Solved with #60.

[2019-12-05 10:45] #5 closed

[2019-12-10 14:06] ammgws commented on #39
If using tmux you could check the last line of the terminal and pattern match it.
e.g. `tmux capture-pane -p -t "paneid" | tac | grep -E -m 1 . | sed -e 's/^[ \t]*//'`

If it was stuck at a sudo prompt it would return:
`[sudo] password for yourusename:`

Then if the window was not focused you could send a notificiation.

Caveats:
 - You have to know beforehand what output you want to catch. Probab

[2020-02-29 13:18] franciscolourenco commented on #38
This is supported with:

[code]

[2020-02-29 13:18] #38 closed

[2020-03-11 22:57] Asheboy opened #70 "wslvar windir error"
Hi,

I'm getting the following error after a `fisher add`:

[code]

[2020-03-11 23:08] ammgws commented on #70
What's the output of uname -a?
Are you using WSL? Is it WSL 1 or 2?

[2020-03-12 10:56] Asheboy commented on #70
My uname -a is `Linux asheboy-ThinkPad-T440s 4.15.0-76-generic #86-Ubuntu SMP Fri Jan 17 17:24:28 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`.

I honestly don't know what WSL is, apologies.

[2020-03-12 12:10] ammgws commented on #70
WSL (Windows subsystem for Linux) is used on Windows. It seems like you're not using Windows, so need to figure out why `done` has entered into that WSL code block

[2020-03-12 12:39] Asheboy commented on #70
I can confirm I am not using Windows.

I'm not sure that it is actually entering that block. I've replaced all the code in that block with an `echo "abc"` and I don't see that string when I run `sleep 7`. But I also don't get a notification!

[2020-03-12 12:41] Asheboy commented on #70
Block looks like this:
[code]

[2020-03-12 12:44] ammgws commented on #70
Do you have 'notify-send'? Still have to fix the issue of mistriggering the WSL block but wonder why it's falling through to there in the first place

[2020-03-12 12:46] Asheboy commented on #70
I didn't! That's installed and working now. Thank you!

[2020-03-12 12:52] ammgws commented on #70
No worries. I'll work on fixing the WSL detection.

[2020-03-29 02:02] franciscolourenco commented on #70
@Asheboy thank you for reporting and @ammgws thank you for fixing!
Feel free to reopen if the problem persists in [v1.14.0](https://github.com/franciscolourenco/done/releases/tag/1.14.0).

[2020-03-29 02:02] #70 closed

[2020-04-01 18:11] RaitoBezarius opened #74 "done.fish invokes the ImageMagick import utility and break everything"
Hi there, thank you for your work!

Since the latest version 1.14.1, it seems like done.fish is invoking `import` somewhere and `import` is also known as an ImageMagick tool, blocking the shell, waiting for a GUI input.

I'm not sure if it's related to PowerShell addition because of `Import-Module` or something like this.

Can I give you some help to find this?

Thanks!

[2020-04-01 18:19] ammgws commented on #74
If you have fish 3.1, does setting fish_trace to 1 show any useful output?

[2020-04-02 02:17] ammgws commented on #74
Actually are you sure it's not the same as this issue:

https://github.com/franciscolourenco/done/commit/5d7f6ae50a9e8c7d1c95af5ad8bfc3155b331fbc#commitcomment-38204903

?

[2020-04-02 13:30] RaitoBezarius commented on #74
@ammgws Oh, it *is* the same, most likely indeed.

[2020-04-03 11:33] minzastro opened #76 "eval: command not found"
I have this error after the last FISH update (to 3.1).
*done* version 1.14.3
[code]

[2020-04-03 11:40] ammgws commented on #76
Does $__done_notification_command evaluate to anything?

[2020-04-03 11:41] franciscolourenco commented on #76
@minzastro what is the result of
`echo $__done_notification_command`?

[2020-04-03 16:05] frederickjh commented on #36
Instead of creating a new issue, I am going comment on this one. If I should create a new one let me know, but I think this along the same lines.

Looking at the `done` code there are numerous checks to make sure that the terminal window is not in the foreground and that this is not a SSH session.

Done also appears to have the option to run a custom command to notify, but it seems no way to pass

[2020-04-04 01:12] lephuongbg opened #77 "done doesn't work on KDE Neon/Ubuntu 18.04"
Running `__done_get_focused_window_id` currently returns this:

[code]

It is the results of running `xprop -version 2>&1 >/dev/null` at [done.fish#L33](https://github.com/franciscolourenco/done/blob/83388b3a3dfae8058a9db548d5e66d44590c5635/conf.d/done.fish#L33). There is no option `-version` in KDE Neon's (which is Ubuntu 18.04-based) `xprop`. Commenting out that line makes it work well.

[2020-04-04 01:27] ammgws commented on #77
Looks like it was first added in 2014:

https://gitlab.freedesktop.org/xorg/app/xprop/-/commit/b0ae4b903067017ec7dc19f27d3916d2153410af

[2020-04-04 04:23] lephuongbg commented on #77
The version contains that commit is xprop 1.2.3, which was released 2 years ago. That release didn't make it into Ubuntu 18.04 LTS. The one that 18.04 has is 1.2.2 which was released 6 years ago.

Could we remove or replace that version check line with `xprop -help 2>&1 /dev/nul` since it was just to make sure `xprop` command is there and working?

[2020-04-04 17:58] franciscolourenco commented on #77
Thanks for the report, should be fixed in 1.14.4.

[2020-04-04 18:01] franciscolourenco commented on #76
@minzastro at first sight this problem seems to specific to the command that you set in
`$__done_notification_command`, so this issue will be closed if you don't provide more information.

[2020-04-09 04:40] lephuongbg commented on #77
Please re-open this issue.

`xprop -help 2>&1 > /dev/null` actually returns 1 because `-help` is an invalid option.

We can use `xprop -grammar 2>&1 > /dev/null` instead.

[2020-04-09 10:37] franciscolourenco commented on #77
seriously?

[2020-04-09 10:39] franciscolourenco commented on #77
in which version was `-grammar` introduced? seems like `-help` and `-version` are only available in some versions and were introduced at different points in time.

[2020-04-09 11:46] ammgws commented on #77
https://gitlab.freedesktop.org/xorg/app/xprop/-/commit/23e375f3842b433b0af7f150135537f7381208ae

Grammar existed at least 12 years ago

[2020-04-09 12:04] ammgws commented on #77
@lephuongbg the version you linked to has `-help` as an option in the manpage. Any idea why it's telling you it's an invalid option?

[2020-04-09 12:31] franciscolourenco commented on #77
`-help` will fail if xprop cannot connect with the configured $DISPLAY. thats the odd behaviour which make the command be useful to us in the first place.

Is it possible that the command is failing but not because of `-help`, as it should?

[2020-04-09 13:52] minzastro commented on #76
The problem was with the eval command itself. It disappeared after a reboot. Have no idea what it was, actually.

[2020-04-09 13:52] #76 closed

[2020-04-10 00:00] lephuongbg commented on #77
I assumed it is an invalid option due to its return code. Re-checked and in the man page it does list `-help` as an option. So `xprop -help` seems to fail due to other reason.

[2020-04-10 10:54] franciscolourenco commented on #77
@lephuongbg what is the result of `printenv DISPLAY`?

[2020-04-11 11:59] jriddy commented on #77
This is a bug in `xprop`. The man page suggests `-help` as an option, but the program itself returns an error code when you run that. I'll looking for the repo to report that to, and i'll post the link to the relevant issue when i make that report.

In the time being...I think i've found a fix, i'll submit a PR

[2020-04-11 12:22] jriddy commented on #77
Filed that PR #78, unfortunately launchpad seems to be having trouble so I can't file a bug with the `x11-utils` maintainers for this yet.

[code]

[2020-04-11 13:39] ammgws commented on #77
@jriddy I ended up sending a PR upstream so if it gets accepted it should hopefully make it's way down to the various distros soon.
https://gitlab.freedesktop.org/xorg/app/xprop/-/merge_requests/2

[2020-04-11 14:31] jriddy commented on #77
Yeah I use Debian/Ubuntu (I know I'm lame) where this won't get rolled out for another 6  months - 2 years :joy:

[2020-04-11 15:23] ammgws commented on #74
@RaitoBezarius The latest release should have fixed this, can you confirm?

[2020-04-11 15:24] franciscolourenco commented on #77
Fixed in v1.14.5, thank you @jriddy and @ammgws

[2020-04-11 15:24] #77 closed

[2020-04-11 15:40] jriddy commented on #77
No prob, thanks for the useful tool!

[2020-04-17 17:14] RaitoBezarius commented on #74
@ammgws Tested, it works!

[2020-04-17 17:14] #74 closed

[2020-04-17 17:15] RaitoBezarius commented on #39
That would require to know that the program is stuck into a `read` syscall on `stdin`, that sounds very difficult IMHO

[2020-04-20 12:05] ammgws commented on #36
@frederickjh
I'm not quite sure I follow:

- Your local machine has a graphical interfaces and is able to display notifications
- Your local machine has fish shell installed with `done`
- You SSH into a remote server
- The remote server has fish shell installed with `done`
- You run a long running command on the server

How does the notification get to the local machine?

[2020-04-20 12:53] franciscolourenco commented on #36
@ammgws I think you have a good understanding. The last part is that the user configures 3rd party service as a proxy to deliver a some stor of notification to the local machine. That 3rd party service could be a chat like Telegram, or a generic push notification app like PushBullet.

@frederickjh If I understood correctly, could you please could open a new issue for this? Thanks!

[2020-04-22 12:03] frederickjh commented on #36
@ammgws  Via either a push or chat service's API. The Done message would be passed to an external command that would deliver the message.

[2020-04-22 12:22] ammgws commented on #36
Ah OK.

This can be **done** by adding config options for disabling SSH and the window checks. For passing the message to your custom command you can do it like this:

[code]

Perhaps it could be documented.

[2020-04-22 12:23] frederickjh opened #80 "Add support for done notifications from remote servers via custom command"
In #36 it was pointed out that Done does not send message when working on a remote server.

This feature request is to allow the user to use a custom command to allow sending the done message to them.  Getting notification message to popup on remote machines is problematic at best.

However there are a number of push and chat services such as [PushBullet](https://www.pushbullet.com/) and [Telegram

[2020-04-22 12:27] frederickjh commented on #36
@ammgws While you were posting your last comment I created the new issue #80.
Can you re-post your last comment on issue #80, please? As I think this is helpful information for that issue.

[2020-04-22 12:31] ammgws commented on #80
For passing the message to your custom command you can do it like this:

[code]

Perhaps it could be documented.

That just leaves adding some config params for disabling the SSH/window checks.

[2020-04-22 12:34] frederickjh commented on #36
:+1:

[2020-06-14 00:17] noahgaertner opened #85 "Not doing anything on WSL 2 with burnt toast installed"
When I run sleep 6 like in the readme.md, no burnt toast output is displayed. Burnt toast does work when the New-BurntToastNotification command is run in both PowerShell 5 (default windows) and PowerShell 7 (the new open source one), which means it isn't a executionpolicy issue.

[2020-06-14 00:20] ammgws commented on #85
Does it still do nothing if you minimise the window while it's sleeping?

[2020-06-14 00:22] noahgaertner commented on #85
Yes, it does. I'm using the new windows terminal, if that matters at all.

[2020-06-14 00:24] noahgaertner commented on #85
I just also tested it in the ubuntu app and it also doesn't work, so it shouldn't be an emulator issue

[2020-06-14 00:34] ammgws commented on #85
There were recent changes made regarding WSL, to rule those out perhaps try an older release such as https://github.com/franciscolourenco/done/releases/tag/1.14.5 and see if it still reproduces?

[2020-06-14 00:36] noahgaertner commented on #85
I just tried the old version, it does the same thing.

[2020-06-14 00:36] noahgaertner commented on #85
Is the issue perhaps that done needs to be running a custom command? I do not have one set at the moment.

[2020-06-14 01:01] ammgws commented on #85
For troubleshooting you could try setting a custom command to see if it even tries to run it or not. I don't have access to WSL2 so can't try it myself. Can you see if it works on WSL1?

[2020-06-14 03:31] noahgaertner commented on #85
Okay, so I just tried the normal command in WSL 1 by cloning a large git repo (sleep doesn't work in wsl 1 apparently) and it still did not work. I'll try a couple custom commands tomorrow morning.

[2020-06-15 09:41] Pitasi opened #86 "test: Missing argument at index 2"
Hi, since this morning I started to have errors at the end of every command output:

[code]

not sure what caused the issue. Alerts are working fine as usual (both normal and errors).

I'm using tmux 3.1b, fish 3.1.2, done 1.14.7.

[2020-06-15 10:11] ammgws commented on #86
I think that's meant to be `set -q` not `test -q`

[2020-06-15 12:25] #86 closed

[2020-06-15 12:27] franciscolourenco commented on #86
Thank you for catching this, and sorry for releasing with this issue. Fixed in v1.14.8

[2020-06-15 12:33] Pitasi commented on #86
No worries, thanks to you for such a fast fix :smile:

[2020-07-09 01:59] quantonganh commented on #40
@ammgws
- Mac OS X 10.15
- iTerm2 3.2

[2020-07-16 08:20] Vaintti opened #87 "Unknown command: humanize_duration"
Whenever I run a command I get this error message

`fish: Unknown command: humanize_duration
~/.config/fish/functions/fish_right_prompt.fish (line 1):
echo $CMD_DURATION | humanize_duration
                     ^
in command substitution
	called on line 28 of file ~/.config/fish/functions/fish_right_prompt.fish
in function 'fish_right_prompt'
in command substitution
~/.config/fish/functions/fish_ri

[2020-07-16 08:21] Vaintti commented on #87
It's caused by this package since I don't get the errors anymore when I uninstall this

[2020-07-16 08:25] Vaintti commented on #87
Other packages I have installed are these (in case this is caused by some conflict)

edc/bass
fishpkg/fish-prompt-metro

[2020-07-16 09:39] ammgws commented on #87
Did you install using fisher? It should have installed that dependency for you

[2020-07-16 09:40] ammgws commented on #87
https://github.com/fishpkg/fish-humanize-duration

[2020-07-16 12:48] Vaintti commented on #87
Yeah I ran "fisher add franciscolourenco/done". I think it somehow doesn't install the dependency of fish-humanize-duration

[2020-07-16 13:42] franciscolourenco commented on #87
@Vaintti Did reinstalling and installing done fix the problem?
[code]

@jorgebucaran any idea about this?

[2020-07-16 23:40] jorgebucaran commented on #87
@franciscolourenco @Vaintti Tried it here and everything works as usual. If you have any ideas how to reproduce this, I'm happy to try again, but without more info, there's nothing actionable here.

[2020-07-17 00:20] franciscolourenco commented on #87
thanks, waiting for @Vaintti

[2020-07-17 09:54] Vaintti commented on #87
After trying to run fisher rm and fisher add and fisher multiple times it installed the humanize package. I think it's a bug in fisher

[2020-07-17 09:54] Vaintti commented on #87
Running fisher again after it's fixed breaks if 😂

[2020-07-22 18:42] franciscolourenco commented on #87
@Vaintti I would say that this is out of the scope of this package. Would you mind re-opening in https://github.com/jorgebucaran/fisher? Thanks!

[2020-07-24 08:20] Vaintti commented on #87
Yeah I guess it's out of this project's scope. I'll do that

[2020-07-24 08:20] #87 closed

[2020-08-01 18:45] Sangdol commented on #87
This happened to me as well.

In my case it worked after installing `fish-humanize-duration` manually.

[code]

This is the error log:
[code]

[2020-08-25 09:36] archilkarchava commented on #85
The issue for me was this chunk of code `uname -a | string match --quiet --regex Microsoft` on lines 57 and 204. Unlike WSL1, WSL2 comes bundled with a real linux kernel, here's the output of `uname -a`: `Linux DESKTOP-RDMPIAF 4.19.104-microsoft-standard #1 SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`. We could try matching both `microsoft` and `Microsoft`, but WSL2 can use cus

[2020-08-25 09:47] ammgws commented on #85
There's an active issue on the WSL issue tracker about detection but I can't find it at the moment.

[2020-08-25 09:49] franciscolourenco commented on #85
Does this improve detection for custom kernels? https://stackoverflow.com/a/43618657

[2020-08-25 09:50] archilkarchava commented on #85
Here's fork with a quick fix https://github.com/archilkarchava/done, custom kernel detection is not supported.

[2020-08-25 09:58] ammgws commented on #85
Found the thread: https://github.com/Microsoft/WSL/issues/423

[2020-09-03 20:51] eugene-babichenko commented on #85
I did a simple fix for that in #88, but a better way may be to rely on WSL specific variables being set (for instance, `WSLENV`)

[2020-09-04 18:47] eugene-babichenko commented on #40
I think it is possible for at least for iTerm2, here's how zsh-notify does that https://github.com/marzocchi/zsh-notify/blob/master/applescript/resources/is-iterm2-active.applescript

[2020-09-07 23:32] gm0re opened #89 "iTerm and Fish apps on MacOs (Catalina) not triggering the notification"
After installation, running `sleep 6` does nothing. I tried in both iTerm 2 and Fish apps.

[2020-10-07 09:00] bms8197 commented on #89
It appears that it works sometimes and some other times it doesn't

For example, using `sleep 30; ping www.yahoo.com` - no notification
if I do: `sudo /usr/libexec/locate.updatedb` (it took like 67 seconds) - I've got a notification using the MacOS notification system.

Operating system: **MacOS Catalina 10.15.7**
Fish version: **3.1.2**
ITerm version: **3.3.12 (latest stable)**

I had to run thes

[2020-10-10 21:14] franciscolourenco commented on #85
@noahgaertner can you check if this is fixed in v1.14.10?

[2020-11-13 09:22] hajdamak opened #94 "Done adds delay before command execution on WSL2"
As in subject.

[2020-11-13 12:03] franciscolourenco commented on #94
@hajdamak thanks, how much delay are we talking about?

@eugene-babichenko @meatcar Any idea about this? Can you reproduce?

[2020-11-13 12:11] hajdamak commented on #94
@franciscolourenco About half a second I guess, enough to be annoying. This happens regardless if I have BurtToast installed or not. Disabling Done makes it instant.

[2020-11-13 23:15] meatcar commented on #94
I can confirm that this is an issue. This is due to powershell invocations being slow under WSL2, and Done runs powershell to fetch the current focused window twice per command invocation, plus once more for the notification on mismatch.

A theoretically possible workaround would be to spin up a long-living powershell process, and communicate with it through unix sockets, but that's [pretty involv

[2020-11-17 22:29] eugene-babichenko commented on #94
@franciscolourenco had this myself for the last couple of days. For me this slowdown appears _after_ 1.14.8 which doesn't make much sense to me right now. Investigating.

[2020-11-17 22:42] eugene-babichenko commented on #94
Confirming this issue, happens for me too. Will take my time to investigate.

[2020-11-17 23:17] eugene-babichenko commented on #94
Confirming this issue, happens for me too. Will take my time to investigate.

It might be due to some broken update. The old `ngen update` trick partially did it for me (`time __done_get_focused_window_id` is 480 ms which is still a lot but less that 1.5 s).

I will look into ways to reduce the overall PowerShell overhead. What is bugging me the most right now is that it is not looking like the ov

[2020-11-28 23:02] eugene-babichenko commented on #94
I've laid the foundation for using the background PowerShell process (link to the script provided). This is using pipes for the IPC instead of domain sockets. The end result should be a single PowerShell instance for all shells using an exclusive `flock` to synchronize accesses between multiple fish instances.

[2020-11-30 09:47] franciscolourenco commented on #94
I don't use Windows so have to stay out of this @eugene-babichenko, but PRs are still welcome 👍

[2020-12-06 10:22] eugene-babichenko commented on #94
I am going to work under Linux for some time, and I will not be working on this issue during that time. If anybody wants to pick up my work, feel free to do so.

[2021-01-04 10:21] MrYakobo opened #95 "Needed to log out"
Hey, thank you for this project. It's a really handy feature to get notifications for long-running commands, it's something I've long wanted to have :heart:

I had to log out from my sway session to get this to apply. You could maybe add some notice in the readme about that. Something like:

[code]

Have a nice day :+1:

[2021-01-04 11:34] eugene-babichenko opened #96 "Clicking on a notification should bring up the terminal this notification came from"
Pretty much as in the description. Switching to the terminal when clicking on the corresponding notification would be nice.

[2021-01-14 20:06] Mekk opened #97 "Option to time limit notifications (`notify-send --expire-time …`)"
I generally love using your package (I get alerted when long compilation or test run on another desktop is over), but I repeatably end up with 3-6 notifications hanging on the screen as closing them is  unpleasant.

It would be nice if they could disappear by themselves.

I  changed line 222 of `done.fish` to:
[code]
and my notifications nicely disappear after 60 seconds under KDE Plasma.

I notic

[2021-01-14 20:11] Mekk commented on #97
Example of the feature working under KDE plasma. That green circle measures time until notification will go – and indeed it disappeared while I write it, remaining notifications were created before I patched done so they  were created 21, 25, and 30 minutes ago)

![obraz](https://user-images.githubusercontent.com/161873/104643375-9fc84d00-56ac-11eb-9c65-f40a8ce3bd1d.png)

[2021-01-22 16:59] JLLeitschuh opened #98 "iTerm2 '__done_initial_window_id' set to 'com.googlecode.iterm2' instead of 'iTerm2'"
When I run `terminal-notifier -message "Test" -sender "$__done_initial_window_id"` this does not work. However when I run `terminal-notifier -message "Test" -sender "iTerm2"` this works. It looks like `__done_initial_window_id` is being set to `com.googlecode.iterm2`.

[2021-01-23 02:51] JLLeitschuh commented on #98
End result is no notification is generated due to this issue

[2021-01-24 20:43] franciscolourenco commented on #98
What version of macOS, iTerm and done are you using?

[2021-01-24 20:45] franciscolourenco commented on #98
`com.googlecode.iterm2` works correctly in my machine and displays the right iTerm2 icon. `iTerm2` doesn't seem to work.

[2021-01-24 20:49] franciscolourenco commented on #97
@charliemaiors you have worked on notify-send support, do you know what is the compatibility of this parameter in other distributions and versions? Thanks!

[2021-01-24 20:50] franciscolourenco commented on #96
@eugene-babichenko This works on macOS already. Which OS are you using?

[2021-01-24 20:52] franciscolourenco commented on #95
@MrYakobo With just fish and fisher it seems to work right away. Can you confirm that this is limited to Sway?

[2021-01-24 21:45] JLLeitschuh commented on #98
[code]

iTerm Build 3.4.3

I also see the same issue with the terminal from IntelliJ IDEA.

[2021-01-24 22:35] franciscolourenco commented on #89
@gbrlmoreira any more info you can provide? Still having this problem? Thanks

[2021-01-24 22:36] franciscolourenco commented on #85
@noahgaertner ping

[2021-01-24 22:37] franciscolourenco commented on #36
Closing due to inactivity, please re-open if necessary.

[2021-01-24 22:37] #36 closed

[2021-01-24 22:38] franciscolourenco commented on #39
Marked as `wontfix` since nobody can see how this would be possible, but feel free to comment if someone has an idea.

[2021-01-24 22:40] franciscolourenco commented on #98
Do you have notifications allowed for iTerm app?
![image](https://user-images.githubusercontent.com/208149/105645979-7d4ce580-5e9d-11eb-86da-d0ecaec4b8dc.png)

[2021-01-24 22:40] bms8197 commented on #89
Not really, it seems it works just fine

[2021-01-24 22:41] franciscolourenco commented on #98
And when you trigger a notification with `-sender iTerm2`, does it have the iTerm icon in the notification?

[2021-01-24 23:37] noahgaertner commented on #85
My laptop is currently with {manufacturer} to get fixed, I'll take a look at this when I get it back.

[2021-01-25 09:11] eugene-babichenko commented on #96
This is needed to be done at least for WSL and Fedora with GNOME 3. Probably other Linux distros.

[2021-01-25 11:47] ammgws commented on #96
Wouldn't it be dependent on the notification daemon being used? Also the window manager, at least in wayland if imagine the switching part would be different for each compositor?

[2021-01-25 12:35] eugene-babichenko commented on #96
Yes, this is the problem. I tried to write an implementation for GNOME 3 running on Wayland and it was very GNOME-specific.

[2021-01-26 17:22] Mekk commented on #97
Some technicalities:
- `notify-send` on API level documents this setting as https://developer.gnome.org/libnotify/unstable/NotifyNotification.html#notify-notification-set-timeout  – again „may not work, but won't spoil things”.
- implementation-wise `notify-send`/`libnotify` implement it's API by sending D-Bus message to `org.freedesktop.Notifications.Notify` (giving timeout as last argument), spe

[2021-01-26 17:49] Mekk commented on #97
So, going back to be practical: some devs of notification service implement this setting, others don't implement it for philosophical reasons (because they „know better” when to discard notifications). Services written with the latter approach most likely flush those notifications automatically after some time, so their users are less likely to need this setting.

So, well, setting like  `__done_n

[2021-01-26 20:52] Mekk opened #99 "Incrementally editing __done_exclude (as list?)"
After using done for some time, I find maintaining `__done_exclude` unpleasant. It simply grows long. Mostly it's because I happen to spawn GUI apps from the terminal, and -  for example - when my `emacsclient -cn` ends it's job after an hour or two, fish gladly notifies me.

So it would be nice if I could „add next exception without touching those already existing”. For example by sth like
[code]

[2021-02-09 21:09] #89 closed

[2021-02-17 22:07] strct opened #100 "No notifications on debian 10"
I followed the manual instrunctions from the readme:

[code]

Even after logging in again `sleep 6` doesn't lead to a notification. I have no clue what I have done wrong, or what part isn't working. I would be happy if you can help. Thanks for your time.

System information:
* Debian 10
* With Gnome
* tried fish version 3.0.2 and 3.1.2 from backports
*
[code]

[2021-03-02 18:21] aselker opened #101 "Bad quotes in __done_humanize_duration?"
When a long-running process finishes, these messages show up in the terminal:
[code]
Also, the title of the notification is just "Done in", not e.g. "Done in 20s".

I think the problem is on lines 159 and 160 of `done.fish`, which read:
[code]
Running one of those lines in a terminal fails.  I think Fish doesn't like the %.  If I move the quotes to this...
[code]
...then the error messages go away

[2021-03-02 18:59] franciscolourenco commented on #101
Hi @aselker, thank you for reporting this. Would you be up for submitting a pull request?

[2021-03-19 13:48] nzig opened #103 "Allow configuring urgency with notify-send for failed commands"
Currently, you can set `__done_notification_urgency_level` to decide the urgency of the notification. However, if the command fails the urgency level is overwritten with `critical`. I would like for this to be configurable as well.

I thought of adding an additional configuration option: `__done_notification_urgency_level_failure` for this.

[2021-04-05 14:44] franciscolourenco commented on #101
Which version of fish are you using? I can't reproduce this issue.

[2021-04-05 16:08] franciscolourenco commented on #100
@strct I just installed Debian 10.9.0 and notify-send on a VM, but can't even get a notification with `notify-send test`. How did you configure notify send?

[2021-04-05 16:10] franciscolourenco commented on #85
@noahgaertner

[2021-04-05 20:10] strct commented on #100
I didn't notice `notify-send` isn't installed by default. I tried to create a minimal environment (i have set up a virtual machine now as well).

On this machine I installed Debian 10.9.0 with the Gnome desktop environment (gnome-shell). Then as root `apt install libnotify-bin curl fish` to install `notify-send`.
Now `notify-send test` produces a notification when run from the logged in user.

Con

[2021-04-05 22:00] franciscolourenco commented on #103
Available in https://github.com/franciscolourenco/done/releases/tag/1.16.0

[2021-04-05 22:00] #103 closed

[2021-04-05 22:29] franciscolourenco commented on #100
The error is in https://github.com/franciscolourenco/done/blob/master/conf.d/done.fish#L83 which throws `TypeError: global.display.focus_window.get_it is not a function`

I don't have time to debug this at the moment since I don't use Debian, but a PR would be more than welcome :)

[2021-04-12 16:02] gpanders opened #106 "tmux window detection broken in fish 3.2"
[fish 3.2.0](https://github.com/fish-shell/fish-shell/releases/tag/3.2.0) introduced the following change:

This means that the check in `__done_is_tmux_window_active` no longer works in fish 3.2.0 or later:

[code]

The `if` check needs to be changed to check for fish versions 3.2.0 or later *or* `status is-login`.

[2021-04-12 17:23] aselker commented on #101
I updated to Fish 3.2.2, from version 2.something, and the problem seems to be gone.

[2021-04-12 18:21] #106 closed

[2021-04-12 18:28] franciscolourenco commented on #101
OK, so it seems to depend on the version

[2021-04-20 11:49] Pitasi commented on #85
@franciscolourenco i'm using ubuntu on wsl2 and nothing seems to happen to me too.

[code]

launching `__done_windows_notification test notif` manually seems to be working fine.

I'll be happy to provide more info since this plugin was really part of my workflow on linux (and thanks btw!) 😁

[2021-04-20 12:01] Pitasi commented on #85
hah, I may have found my issue.

I have a X org server running (VcXsrv) so that I can use xorg apps in windows, and the problem seems to be here:
https://github.com/franciscolourenco/done/blob/8fd2bc5c95a93b65452281459a167f1bbfb58990/conf.d/done.fish#L84-L85
that returns `true`.

Swapping this `if` with the windows one at https://github.com/franciscolourenco/done/blob/8fd2bc5c95a93b65452281459a167

[2021-05-15 19:04] sazary commented on #97
Hi
I'm using gnome 3.36 and I just added `--expire-time=60000` to `notify-send` command in `done.fish` file, just like @Mekk said, and it works perfectly. Please note that I **didn't** change any config or package in my OS (like replacing `notify-send` with some other lib).

My config:

[code]

[2021-05-18 07:57] 00sapo commented on #97
I use Manjaro (Arch-based) `--expire-time=2000` works out-of-the box, but not for ssh sesssions... don't know why, maybe it is tied to the exit status of the process?

configuration:

[code]

[2021-05-31 08:45] shagohead opened #109 "Did not work on Mac OS (11.4): ps: unsupported exe keyword"
On Mac OS 11.4 (don't know about ps in previous Mac OS releases) `exe` keyword not supported for `-o` option.

[code]

[2021-06-11 05:41] aystroganov commented on #109
Similar issue is happening on Pop!_OS 20.04, when I uend an ssh session while in tmux:
[code]

[2021-06-11 06:00] aystroganov commented on #109
I just looked up the format specifiers for my version of `ps`, and it's also missing `exe`, however there are `args` and `comm` (see https://linuxcommand.org/lc3_man_pages/ps1.html), not sure which one it should be.

[2021-06-17 05:56] jaideeprana commented on #109
Hey,

Any update on this?
I am also encountering the same issue.

[2021-07-04 06:14] hisnawi commented on #109
Is Sam's fix going to be incorporated in this repo? Is there an ETA for the new release with the fix?

[2021-07-04 22:37] #109 closed

[2021-07-04 22:43] franciscolourenco commented on #109
Fixed in v1.16.3. Sorry for the delay

[2021-07-14 08:51] EddieEldridge commented on #98
Thank you, this was my issue and it is now resolved 👍

[2021-08-02 05:53] zheyuanWang commented on #97
quoted from [this answer](https://unix.stackexchange.com/questions/197748/is-there-a-desktop-notification-that-stays-shown-until-i-click-it)

[2021-09-05 23:48] alterae opened #114 "Ability to set notification timeout"
Using the sway window manager with the mako notification daemon.

It would be nice if there was a way to get `done` notifications to automatically disappear after a certain amount of time.

[2021-09-06 00:11] ammgws commented on #114
Have you tried playing around with your `mako` config?

I have this in mine which IIRC was so the notifications would persist, so try changing the settings:
[code]

[2021-09-06 02:21] Alterae commented on #114
That worked, thank you!

The options I used:

[code]

(At least for my use case I don't need to set `ignore-timeout`)

[2021-09-30 07:36] frazar opened #117 "Variable `$__done_notification_transient` is used but is not defined"
On a clean installation, I'm getting the following error with v1.6.4.

[code]

I believe it's because, by default, the `__done_notification_transient` variable is not defined. Indeed, said variable is defined, no error occurs.
[code]

[2021-10-01 13:03] frazar opened #119 "Wrong parameter names in README"
As of commit a2b53cb6efaab2cc24b3b8ae9498b6d4d6e8fc06, the name of all configuration variables use a single underscore as prefix rather than two. For example, `__done_min_cmd_duration` has become `_done_min_cmd_duration`.

However, the README has not been updated to reflect this change.

[2021-10-01 13:07] ammgws commented on #119
Didn't realise there was such a breaking change lately! Should definitely be mentioned.. or perhaps reverted sicne not worth breaking everyone's config for it..

[2021-10-01 13:29] frazar opened #120 "Consider joining Hacktoberfest"
More info [here](https://hacktoberfest.digitalocean.com/).

To do so, it should be sufficient to add the `hacktoberfest` label to the GitHub repository.

[2021-10-01 15:51] frazar commented on #119
Yes, reverting sounds more reasonable

[2021-10-03 02:28] VergeDX commented on #117
Same issues here, NixOS 21.05.

[2021-10-03 08:08] #117 closed

[2021-10-03 08:23] #119 closed

[2021-10-03 08:30] franciscolourenco commented on #120
I was inclined not to join because the quality of PRs last year was not the best, but since you proposed, I've add the topics to the repository. Thanks.

[2021-10-03 08:30] #120 closed

[2021-10-03 09:22] frazar commented on #120
Thank you for taking this into considerarlon. I understand last year was a real mess for maintainers, unfortunately. If you feel like the issue is occurring again, I would support you in withdrawing again.

[2021-10-21 01:45] romanrev opened #122 "Unexpected and strange error "Unknown command: humanize_duration""
After I've upgraded my Fisherman I've started getting this kind of strange error in my terminal after a command finishes. I've already tried removing the `done` plugin and installing it again, but it doesn't seem to help. I cannot find the `humanize_duration` in the `done.fish` file BTW, so not sure how to debug it. Any hints are greatly appreciated!

➤ fish --version
fish, version 3.1.2
➤ fisher

[2021-10-21 01:53] ammgws commented on #122
Looks like you're on an old version of `done`, since that function was internalised in the code quite a while ago.

The error is probably because that package was renamed to `humantime`: https://github.com/jorgebucaran/humantime.fish/

Anyway, updating `done` should resolve your issue

[2021-10-21 02:15] romanrev commented on #122
thanks for your prompt feedback @ammgws ! But I have already updated `done`, or so I thought at least, by running `fisher update franciscolourenco/done` - several times already in fact. Could you tell what is the way to confirm the update has actually happened, except for observing the output?
[code]
thank you!

[2021-10-21 05:14] #122 closed

[2021-11-29 04:42] rstacruz opened #127 ""basename: illegal option -- f" error when using with Tmux"
I'm running into an odd error where this error appears when using fish with Tmux. It's almost always reproduceable when ran with neovim, but can often appear when just using tmux.

[code]

How to reproduce:

[code]

Environment info:

- os: MacOS 11.6
- shell: fish 3.3.1
- tmux 3.2a
- Neovim 0.5.1
- terminal: Hyper

Thank you for all your hard work with `done`!

[2021-11-29 04:47] rstacruz commented on #127
From what I can tell, this happens here:

[code]

because `tmux_fish_ppid` is not available, the `ps` command gets this error

[code]

Changing it to a hardcoded `fish` makes things work:

[code]

[2021-12-18 14:03] ovikk13 commented on #127
This is solved by this pull request: https://github.com/franciscolourenco/done/pull/124

[2022-01-05 19:41] blissdev commented on #127
I'm also seeing this issue. Not sure why, but it just started appearing for me.

[2022-01-25 17:46] std4453 commented on #85
WSL systems might have Linux desktop utililies like `notify-send` that come installed with other packages, but Linux systems should not (normally) contain 'microsoft' in their `uname -a`, so I think it might be preferrable to put WSL-specific checks before the others.

[2022-02-02 09:39] Yajo commented on #100
No notifications in Fedora 35 either.

It's probably related to the enhanced security measures on some DBus calls in GNOME 41: https://unix.stackexchange.com/a/635740/50281

[2022-03-07 20:31] oxysoft commented on #100
No notifications either for me on Manjaro with Gnome, worked when I was using XFCE a few weeks ago.
`notify-send` works as usual. I'm using `sleep 6` to test.

[2022-05-17 17:45] manu156 commented on #100
Workaround: use a gnome extension to expose Eval.
Extension: [https://github.com/manu156/eval-gjs](https://github.com/manu156/eval-gjs)
Also modify done.fish to use this:
```gdbus call --session --dest org.gnome.Shell --object-path /dev/ramottamado/EvalGjs --method dev.ramottamado.EvalGjs.Eval 'global.display.focus_window.get_id()'```
However this will introduce security risks probably or whatever

[2022-07-04 06:28] PicoSushi opened #131 "Error messages: "error: process ID out of range" and "basename: missing operand""
Recently I'm trying **done**.
The command `sleep 6` sometimes occurs error message as below:

[code]

These messages are sometimes shown, and sometimes not.
I guess that `$tmux_fish_ppid` is not working well.

my environment:

[code]

[2022-10-27 23:24] BarbzYHOOL opened #132 "How can I test if it's working?"
Hello,

I upgraded my fish and it doesn't seem to work (also i'm on terminal Tilix)

How to test?

[2022-11-15 16:58] imrekoszo opened #133 "Error printed after command finishes when terminal-notifier is not installed"
M1 macos 13.0.1

When `terminal-notifier` is not installed, I get the following message printed after long-running commands. It went away when I installed the notifier.

[code]